html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  /* background-color:rgba(76, 0, 255, 0.651) ; */
}

body{
    background-image: url(./assets/disneycastle.gif);
    background-size: cover;
    height: 69vh;
    padding:0;
    margin:0;
}

.logo{
  text-align: center;
  background-color: rgba(7, 140, 202, 0.781);
  color: white;
  padding: 0.5em;
}
#name{
  color:white ;
}
#character-bar {
  height: 29vh;
  position: absolute;
  bottom: 0;
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  color: black;
  justify-content: center;
  font-size: 2vh;
  align-items: center;
  border-radius: 2em;
  border: 7px solid black;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: double;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
#name{
  color: black;
}